{% extends "base.html" %}
{% load static %}

{% block titre %} 
Aulongcours.net - A Propos
{% endblock %}        

{% block apropos %}   

<div class="content-apropos">

            <h2>A Propos</h2>
            <div class="apropos-flex">
                
                    <div class="image-apropos"><img src="{% static "img/a-propos/img5.jpg" %}"></div>
                    <div class="texte-apropos">

                    	<h2>Au Long Cours </h2>
                    	<p>
                      
						<blockquote cite="Colbert, 1681">« Sont réputés être voyages de long cours  les voyages de France en Moscovie, Groenland, Canada, aux bancs et îles de Terre Neuve et autres côtes et îles d'Amérique, au Cap Vert, côte de Guinée et tous autres qui seront au-delà du tropique » (Colbert, 1681).</blockquote>

                        Les voyages peuvent prendre différentes formes, voyage d'une vie, voyages à côté de chez soi, voyages vers d'autres horizons professionnels, voyages culinaires.<br/>
						Loin de vouloir prétendre à concurrencer ces grands voyageurs des temps anciens, ni à voir autant de contrées éloignées, découvrir tant de nouvelles sensations, ce blog se veut être une invitation au voyage, à travers des présentations simples.  
						<br/><br/>
						Ce sont autant de coups de coeur et de coups de blues que je tenterais de vous dévoiler au travers de ce site. <br/><br/>

						Je vous souhaite donc la bienvenue sur Au Long Cours, blog créé pièce par pièce par Singertwist, webmaster de ce site. <br/><br/>

						
						Je ne peux que vous souhaiter une bonne lecture.
						<br/><br/>

						Singertwist	
                    	</p>
                    </div>

            </div>    

        </div>


{% endblock %}    