{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block titre %} 
Aulongcours.net - Catégories
{% endblock %}        

{% block categorie %}       

		<div class="image-categorie"></div>
		
		<div class="titre-display">
			<h1>Catégories</h1>  
		</div>	
        <div class="content-display">
            <div class="content-display-main">              

                {% regroup souscategorie by categorie as categorie_list %}
                    {% for categories in categorie_list %}
                        <h3 id="{{categories.grouper|cut:" "}}">{{categories.grouper}}</h2>
                        <div class="categories">
                        
                                {% for sous_categories in categories.list%}
                                <div class="sous-categories">
                                    <a href="{% url 'souscategorie_display' sous_categories.slug sous_categories.id %}">
                                    {% thumbnail sous_categories.image "250x250" crop="center" as im %}
                                    <img src="{{im.url }}" alt="{{ sous_categories.nom_subcategorie }}"/>
                                    {% endthumbnail %}
                                    </a>
                                   
                                <p><a href="{% url 'souscategorie_display' sous_categories.slug sous_categories.id %}">{{sous_categories.nom_subcategorie }}</a></p>
                                </div>
                                {% empty %}

                                   <p>Aucune sous catégorie.</p> 

                                {% endfor %}

                        </div>
                    {% empty %}
                        <p>Aucune catégorie.</p>
                    {% endfor %}

            </div>


            <div class="content-display-side">
                <div class="menu-side-titre">MENU</div>

                <div class="menu-side-texte">
                    {% regroup souscategorie by categorie as categorie_list %}
                        {% for categories in categorie_list %}
                         <div class="menu-side-texte-suite"><a href="#{{categories.grouper|cut:" "}}">{{categories.grouper}}</a></div>
                        {% empty %}

                            <p>Aucune catégorie.</p>
                        {% endfor %}         
                </div>

                <div class="a-propos-side-titre">A PROPOS</div>
                <div class="a-propos-side-texte"><img src="{% static "img/a-propos/img5.jpg" %}" alt="image-a-propos"/>« Sont réputés être voyages de long cours les voyages de France en Moscovie, Groenland, Canada, aux bancs et îles de Terre Neuve et autres côtes et îles d'Amérique, au Cap Vert, côte de Guinée et tous autres qui seront au-delà du tropique » (Colbert, 1681). <a href="{% url 'apropos' %}">Lire la suite...</a></div>

            </div>
            </div>

{% endblock %}        